:root {
  font-size: 16px;
}

body {
  margin: 0;
  --color-text: #000;
  --color-bg: #faf5e3;
  --color-link: #8d561f;
  --color-link-hover: #000;
  color: var(--color-text);
  background-color: var(--color-bg);
  --cursor-stroke: none;
  --cursor-fill: #988c67;
  --cursor-stroke-width: 1px;
  font-family: tenon, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  overflow-y: scroll;
}

/* Page Loader */
.js .loading {
  &::after,
  &::before {
    content: "";
    position: fixed;
    z-index: 1000;
  }
  &::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
  }
  &::after {
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    border-radius: 50%;
    opacity: 0.4;
    background: var(--color-link);
    animation: loaderAnim 0.7s linear infinite alternate forwards;
  }
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

a {
  text-decoration: underline;
  color: var(--color-link);
  outline: none;
  cursor: pointer;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
  text-decoration: none;
}

em {
  font-weight: 500;
}

.frame {
  padding: 3rem 5vw;
  text-align: center;
  position: relative;
  z-index: 1000;
  &__title {
    font-size: 1rem;
    margin: 0 0 1rem;
    font-weight: normal;
  }

  &__links {
    margin: 0.35rem 0 0 0;
  }

  &__links a:not(:last-child) {
    margin-right: 1rem;
  }

  &__home {
    text-decoration: none;
    color: var(--color-text);
    display: inline-block;
    height: 1.75rem;
    margin: 1rem 0;
  }

  &__home-title {
    font-weight: 700;
  }

  &__home-sub {
    align-self: flex-end;
    margin-left: 0.5rem;
  }

  &__about {
    display: inline-block;
    margin: 1rem 0;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-text);
  }

  &__about-item {
    display: none;
  }

  &__about-item--current {
    display: inline-block;
  }
}

.content {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "content-item";
  justify-content: center;
  position: relative;
  cursor: default;
  &__item {
    grid-area: content-item;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 0 1rem;
    overflow: hidden;
    height: 0;
  }

  &__item--home {
    justify-content: center;
    min-height: 300px;
  }

  &__item--current {
    overflow: visible;
    height: auto;
    opacity: 1;
    pointer-events: auto;
  }

  &__item-credits {
    margin-top: auto;
    align-self: center;
    max-width: 260px;
    text-align: center;
    padding-bottom: 3rem;
  }

  &__item-credits a {
    white-space: nowrap;
  }

  &__paragraph {
    font-family: freight-big-pro, serif;
    font-size: 7vw;
    font-weight: 300;
    letter-spacing: -0.2vw;
    word-spacing: 1vw;
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
    position: relative;
    overflow: hidden;
    flex: none;
  }

  &__paragraph--first {
    margin-top: auto;
  }

  &__paragraph--last {
    margin-bottom: auto;
  }

  &__paragraph--large {
    font-size: 10vw;
  }

  &__paragraph--right {
    align-self: flex-end;
  }

  &__figure {
    margin: 0;
    max-width: 100%;
    margin-top: 0.5rem;
    position: relative;
  }

  &__figure-img {
    max-width: 100%;
  }

  &__figure-caption {
    margin: 1rem 0 0 0;
    font-size: 0.85rem;
    padding-bottom: 5rem;
  }
}

.char {
  will-change: transform;
}

.cursor {
  display: none;
}
@include media-breakpoint-up(sm) {
  .frame {
    position: absolute;
    text-align: left;
    top: 0;
    left: 0;
    display: grid;
    align-content: space-between;
    width: 100%;
    max-width: none;
    height: 100vh;
    padding: 3rem 8vw;
    pointer-events: none;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "home title about"
      "... ... ..."
      "... ... credits";
    &__home {
      display: flex;
      grid-area: home;
      justify-content: flex-start;
      justify-self: start;
      margin: 0;
    }
    &__title-wrap {
      grid-area: title;
      text-align: center;
    }
    &__title {
      margin: 0;
    }
    &__links {
      margin: 1rem 0 0 0;
    }
    &__about {
      margin: 0;
      grid-area: about;
      align-self: start;
      justify-self: end;
    }
    &__credits {
      text-align: right;
      grid-area: credits;
      justify-self: end;
    }
    & a {
      pointer-events: auto;
    }
  }
  .content {
    &__item {
      min-height: 100vh;
      padding: 12rem 8vw 3rem;
    }
    &__title-inner--offset {
      margin-top: 3rem;
    }
    &__title-seperator {
      margin: 0 2rem;
    }
    &__item--home {
      max-height: none;
    }
    &__figure {
      max-width: 48vw;
      justify-self: flex-end;
      margin-left: auto;
      margin-top: -5vw;
    }
    &__figure-caption {
      position: absolute;
      right: 100%;
      bottom: 0;
      margin-right: 2rem;
      text-align: right;
      width: 50%;
      font-size: 1rem;
      padding: 0;
    }
    &__item-credits {
      align-self: flex-end;
      max-width: 260px;
      text-align: right;
      padding: 0;
    }
  }
}

@media (any-pointer: fine) {
  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    pointer-events: none;
    &__inner {
      fill: var(--cursor-fill);
      stroke: var(--cursor-stroke);
      stroke-width: var(--cursor-stroke-width);
      opacity: 0.5;
    }
  }
}
